body{
	background-image: url(../images/living4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
button {
	border-radius: 10px;
	padding: 10px 10px;
	border: 2px solid blue;
    background-color: blue;
}
a{
	text-decoration: none;
	color: white;
}
.slidercontainer {  
            max-width: 1000px;  
            position: relative;
            margin-top: 100px;  
            margin: auto;
            align-items: center;
            display: flex;
            justify-content: center;  
        }
.showSlide {
    display: flex;
    justify-content: center;
    flex-flow: column;
    border: none;
    border-radius: 6px;
    width: 50%;
    height: 200px;
    margin-top: 200px;
    /* margin-left: 365px; */
    background: #ffffff;
    box-shadow: 3px 7px 36px -6px #939b9c;
    align-items: center;
    position: absolute;
    top: 50%;
}
